{% extends "base.html" %}
{% load static%}
{% block body %}
<div class="flex min-h-screen bg-slate-900">
    <div class="flex flex-1 flex-col justify-center px-4 py-12 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
        <div class="mx-auto w-full max-w-sm lg:w-96">
            <div>
                <img class="h-15 w-auto" src="{% static 'Logo_IMA.png' %}" alt="Logo_IMA" />
                <h2 class="mt-4 text-2xl font-bold tracking-tight text-gray-100">Cadastrar Motivo de Intervenção</h2>
                <p class="mt-2 text-sm text-gray-500">
                    Preencha as informações abaixo para cadastrar um motivo de intervenção.
                </p>

                <!-- Mensagens de sucesso -->
                {% if messages %}
                    <div class="mt-4 text-green-500">
                        {% for message in messages %}
                            <div>{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="mt-8">
                <form action="{% url 'cadastrar_motivo' %}" method="POST" class="space-y-6">
                    {% csrf_token %}

                    <div>
                        <label for="codigo_intervencao" class="block text-sm font-medium text-gray-200">Código da Intervenção</label>
                        <div class="mt-2">
                            <input id="codigo_intervencao" name="codigo_intervencao" type="text" value="{{ form.codigo_intervencao.value | default:''}}" required class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline outline-1 outline-white/10 placeholder:text-gray-500 focus:outline focus:outline-2 focus:outline-indigo-500 sm:text-sm" placeholder="Código da intervenção" />
                        </div>
                    </div>

                    <div>
                        <label for="descricao_motivo" class="block text-sm font-medium text-gray-200">Descrição do Motivo</label>
                        <div class="mt-2">
                            <textarea id="descricao_motivo" name="descricao_motivo" rows="4" required class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline outline-1 outline-white/10 placeholder:text-gray-500 focus:outline focus:outline-2 focus:outline-indigo-500 sm:text-sm" placeholder="Descreva o motivo da intervenção  ">{{ form.descricao_motivo.value }}</textarea>

                        </div>
                    </div>

                    <div>
                        <button type="submit" class="flex w-full justify-center cursor-pointer rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500">
                            Cadastrar Motivo de Intervenção
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
