
{% load static %}

<!DOCTYPE html>
<html lang="pt-br" class="h-full bg-slate-900 text-white">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Gestor OS</title>

        <!-- Tailwind CSS via CDN -->
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="icon" href="{% static 'favicon.ico' %}"
            type="image/x-icon" />

        <!-- Estilos e scripts adicionais -->
        {% block head %}{% endblock head %}
    </head>
    <body class="h-full min-h-screen antialiased">
        
        <!-- Botão Voltar/Logout-->
        <div class="fixed top-4 right-4 z-50">
            {% block top_right_button %}
                <!-- Botão padrão: Voltar -->
                <a href="{% url 'menuos' %}" class="flex items-center gap-2 text-sm text-slate-400 hover:text-white bg-slate-800 px-3 py-1 rounded transition duration-200">
                    <svg class="w-4 h-4" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                        <path d="M15 19l-7-7 7-7" />
                    </svg>
                    Voltar
                </a>
            {% endblock %}
        </div>
        <!-- Bloco principal de conteúdo -->
        {% block body %}{% endblock body %}

        <!-- Scripts globais -->
        <script>
      // Redirecionamento ao Menu Principal ao clicar no botão Voltar do navegador
      document.addEventListener('DOMContentLoaded', function () {
        window.history.pushState(null, '', window.location.href);
        window.onpopstate = function (event) {
          window.location.href = "{% url 'menuos' %}";
        };
      });

      // Controla se está navegando internamente
      let navegandoInternamente = false;
      document.querySelectorAll('a').forEach(link => {
        link.addEventListener('click', () => {
          navegandoInternamente = true;
        });
      });

      // Executa logout automático ao fechar aba/janela (não em reload)
      window.addEventListener('pagehide', function (event) {
        if (!navegandoInternamente && document.visibilityState === 'hidden') {
          navigator.sendBeacon("{% url 'logout' %}");
        }
      });
    </script>
    </body>

    <footer>
        <p class="mt-12 text-center text-gray-400 text-sm select-none">Desenvolvido por Eric Moschen</p>
    </footer>
</html>
