<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestor OS</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    {% block head %}{% endblock head %}
</head>
<body>
    {% block body %} {% endblock body %}
    
<script>
    // Redirecionamento ao Menu Principal ao clicar no botão Voltar do navegador
    document.addEventListener('DOMContentLoaded', function() {
    window.history.pushState(null, '', window.location.href);
    window.onpopstate = function(event) {
    window.location.href = "{% url 'menuos' %}";
    };
});
</script>

</body>
</html>
